{
  "extends": "airbnb",
  "rules": {
    "quotes": "off",
    "consistent-return": "off",
    "no-mixed-operators": "off",
    "arrow-body-style": "off",
    "prefer-destructuring": "warn",
    "no-param-reassign": "warn",
    "max-len": ["warn", 200],
    "arrow-parens": ["error", "as-needed"],
    "object-curly-newline": ["error", { "multiline": true }],
    "no-console": "off"
  }
}
